* {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.4em;
    padding: 0.1em;
}

.container {
    border: thin solid;
    padding: 0.5em;
}

input {
    font-size: 0.8em;
}

button {
    width: 27%;
}


