<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script src="../js/login.js" defer></script>
    <title>Login form</title>
</head>
<body>
<div class="container">
    <form id="box_frame">
        <label for="email">Email</label>
        <input type="text" placeholder="Enter email" name="email" required>

        <label for="password">Password</label>
        <input type="text" placeholder="Enter password" name="password" required>

        <button>Login</button>
    </form>
</div>
</body>
</html>